<section id="tickets" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-1">
      <h1 class="center">Tickets for: </h1>
      <h2 class="center"><%= @event.title %></h2>
      <h3 class="center"><%= @event.address %></h3>
      <h3 class="center"><%= @event.date.strftime("%a, %b %d %Y %I : %M %p") %></h3>
    </div>
  </div>
  <br>
  <div class="row">
     <div class="col-lg-8 col-lg-offset-1">
      <%= form_for(@purchased_ticket, url: new_charge_path, html: { multipart: true }) do |f| %> 
        <div class="row center">
          <div class="table">
            <tbody>
              <% @event.tickets.each do |ticket| %>
                <tr class="ticket">
                  <td>
                    <span><%= ticket.title %></span>
                    </td>
                    <td>
                    <span class="ticket-pricing" style="margin-left: 50px">
                      <%= number_to_currency(ticket.price, :precision => 2) || 0 %>

                      <% if ticket.soldout? %>
                        <span style="margin-left: 10px">
                        Sold Out
                        </span>
                      <% elsif ticket.offsale? %>
                        <span style="margin-left: 10px">
                        Tickets are no longer available
                        </span>
                      <% elsif ticket.onsale? %>
                        <span style="margin-left: 10px">
                        <%= label "Ticket Quantity", "" %>
                          <%= select_tag "ticket_id_#{ticket.id}", options_for_select(0..30), :selected => 0 %>
                        </span>
                      <% elsif !ticket.onsale? && !ticket.offsale? %>
                        <span style="margin-left: 10px">
                        Onsale: <%= ticket.onsale_start.strftime("%a, %b %d %Y %I : %M %p") %>
                        </span>
                      <% end %>

                    </span>
                  </td>
                  <br>
                    <td>
                      <span><%= ticket.description %></span>
                    </td>
                  <br>
                </tr>
                <%= hidden_field_tag 'event_id', @event.id %>
                <hr>
              <% end %>
              <% if show_action?(@event) %>
                <%= f.submit "Next", class: "btn btn-primary" %>
              <% end %>
            </tbody>
          </div>
        </div>
      <% end %>
  </div>
</section>