  <% provide(:title, "All Events") %> 

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center" id="search-sidebar">
        <h4><b>Search by - CHANGE THIS?</b></h4>
        <%= form_tag events_path, method: :get do %>
          <%= label_tag :search, "Name / Description: " %>
          <%= text_field_tag :search, params[:search], placeholder: "Party, Soccer, Concert, etc.", class: "form-control" %>
          <p class="help-block"></p>

          <%= label_tag :location, "Location, Zip Code, City, State:" %>
          <%= text_field_tag :location, params[:location], placeholder: "San Francisco, 90011, etc.", class: "form-control" %>
          <p class="help-block"></p>

          <%= label_tag :category, "Category: " %><br>
          <%= select_tag :category, options_for_select(@categories.map{ |c| [c.name, c.id] }, params[:category] ), class: "form-control" %>
          <p class="help-block"></p>

          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
          <p class="help-block"></p><br>

          <h4><b>Filter by Timeline</b></h4>
          <div class="list-group">
            <%= submit_tag "Upcoming Events", name: "timeline", id: "timeline", class: "list-group-item", style: "width: 100%" %>
            <%= submit_tag "Past Events", name: "timeline", id: "timeline", class: "list-group-item", style: "width: 100%" %>      
          </div>
        <% end %>
      </div>

      <div class="col-md-9 text-center">
        <% if @created_events&.any? %>
          <div class="row">
            <h3 id="events">Upcoming Events <span><%= current_user.name %></span> Created</h3>
            <hr>
              <%= render @created_events %>
          </div>
        <% end %>
      
       <% if @events.any? %>
        <div class="row">
            <h3 id="events"><%= params[:timeline] == "Past Events" ? "Past Events" : "Upcoming Events #{current_user.name} is Attending: " %></h3>
              <hr>
              <%= render @events %>
          </div>
        </div>
       <% end %>

    </div>
  </div>