<% provide(:title, @event.title) %> 

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- Event Content -->
      <h1 class="center" class="wrap"><%= @event.title %></h1>
      <h3 class="center"><%= @event.date.strftime("%A %b. %e, %Y %l:%M %p") %></h3>
      <h3 class="center"><%= @event.address %></h3>
      <hr>
      <% if current_user&.id == @event.user_id %>
        <p class="center">Created by: <%= link_to @event.user.name, @event.user %></p>
      <% end %>
      <% if @event.picture? %>
        <div class="center">
          <%= image_tag @event.picture.url, class: "img-responsive", id: "event-show-image", alt: @event.picture %>
        </div>
      <% else %>
      <div class="center">
        <%= image_tag "event-show-default.jpg", class: "img-responsive", alt: "default-image" %>
      </div>
      <% end %><br>
      <h3 class="center">
      <%= @event.description %>
      </h3>
      <br>

      <%= render "event_buttons", event: @event %>
      
      <!-- Comments -->
      <h3 class="center" id="comment_count">Comments (<%= @event.comments.count %>)</h3>
      <hr>
      <div class="media comment_list" ">
        <%= render @comments %>
      </div>
      <% if current_user %>
        <div class="well">
          <h4>Leave a Comment:</h4>
          <%= render 'comments/form' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

