<div class="container">
  <h2 class="order-title"><%= @event.title%> Guest List</h2>
  <h3 class="center"><%= @event.date.strftime("%a, %b %d %Y %I : %M %p") %></h3>
  <p class="lead center">
    <button class='btn btn-primary' id='guest-list' onclick='window.print()'><i class="fas fa-print"></i> Print List</button>
  </p>
  <div class="row">
    <div class="col-md-12">
      <table class="orders">
        <tr class="orders">
          <th>Name</th>
          <th>Ticket</th>
          <th>Ticket Ref.</th>
        </tr>
        <% @purchased_tickets.each do |ticket| %>
        <tr class="orders">
          <td><%= ticket.user.name %></td>
          <td><%= ticket.ticket.title %></td>
          <td><%= ticket.ticket_guid %></td>
        </tr>
        <% end %>
      </table>
    </div> 
  </div>
</div>