<div class="container">
  <h2 class="order-title"><%= @event.title%> Orders</h2>
  <h3 class="center"><%= @event.date.strftime("%a, %b %d %Y %I : %M %p") %></h3>
  <p class="lead center">
    <% if @event.date > Time.now %>
      <%= link_to "<i class='fas fa-plus'></i> Add Guest".html_safe, event_add_guest_path(@event), {class: "btn btn-primary"} %>
    <% end %>
    <%= link_to "<i class='fas fa-users'></i> Guest List".html_safe, event_guest_list_path(@event), {class: "btn btn-primary"} %>
  </p>

  <div class="row">
    <div class="col-md-12">
      <table class="orders">
        <tr class="orders">
          <th>Order Ref.</th>
          <th>Order Date</th>
          <th>Name</th>
          <th>Email</th>
          <th>Amount</th>
          <td></td>
        </tr>
        <% @orders.each do |order| %>
        <tr class="orders">
          <td><%= order.order_ref %></td>
          <td><%= order.created_at.strftime("%a, %b %d %Y") %></td>
          <td><%= order.user.name %></td>
          <td><%= order.user.email %></td>
          <td><%= number_to_currency(order.amount, :precision => 2) %></td>
          <td><%= link_to "Details", event_order_path(@event, order.order_ref), class: "btn btn-primary", id: "show-edit-button" %></td>
        </tr>
        <% end %>
      </table>
    </div> 
  </div>
</div>