  <% provide(:title, @event.title) %> 

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- Event Content -->
        <h1 class="center" class="wrap"><%= @event.title %></h1>
        <h3 class="center"><%= @event.date.strftime("%A %b. %e, %Y %l:%M %p")%></h3>
        <h3 class="center"><%= @event.address %></h3>
        <hr>
        <p class="lead center">Created by: <%= link_to @event.user.name, @event.user %></p>
        <br>
        <% if (current_user.id == @event.user_id) && (@event.date > Time.now) %>
          <p class="lead center" ><%= link_to "Create Tickets", new_event_ticket_path(@event), class: "btn btn-primary", id: "show-edit-button" %></p>
        <% end %>
        <% if @tickets.empty? %>
          <h3 class="center" class="wrap"> No Tickets</h3>
        <% else %>
          <h3 class="center" class="wrap">Tickets</h3>
          <div class="container">
            <div class="row">
              <div>
                <%= will_paginate %>  
                <%= render @tickets %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
