<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- Event Content -->
      <h1 class="center" class="wrap"><%= @ticket.title %></h1>
      <h3 class="center"><%= @ticket.description %></h3>
      <h3 class="center"><%= number_to_currency(@ticket.price, :precision => 2) %></h3>
      <h3 class="center">Total Available Tickets: <%= @ticket.qty_available %></h3>
      <% if @ticket.onsale_start %>
        <h3 class="center">Onsale Start: <%= @ticket.onsale_start.strftime("%A %b. %e, %Y %l:%M %p") %></h3>
        <h3 class="center">Onsale End: <%= @ticket.onsale_end.strftime("%A %b. %e, %Y %l:%M %p") %></h3>
        <h3 class="center">Days Remaining: <%= @days_remaining %></h3>
      <% end %>
      
      <h3 class="center">Total Sold: TO COME</h3>
      <h3 class="center">Sales Graphs: TO COME</h3>
      <hr>
    </div>
  </div>
</div>
